<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">-->
  <!--<h1>-->
    <!--Smart Discount application-->
  <!--</h1>-->
<!--</div>-->
<nav class="ui menu">
  <div class="header item">
    Web Application
  </div>
  <a class="item" routerLink="/" routerLinkActive="active">
    Home
  </a>
  <a class="item" routerLink="/cloth" routerLinkActive="active">
    Clothes
  </a>
  <a class="item">
    Shoes
  </a>
  <a class="item">
    Purse
  </a>
  <a class="item">
    Game
  </a>
  <a class="item">
    Toy
  </a>
  <a class="item">
    Jewelry
  </a>
  <div class="right item">


    <div class="ui action input">
      <input type="text" placeholder="Navigate to...">
      <div class="ui button">Go</div>
    </div>
    <div class="ui left attached button" tabindex="0" style="height:35px; margin-left: 10px">
    <!--<div class="hidden content">Shop</div>-->
    <div class="visible content">
    <i class="shop icon"></i>
    </div>
  </div>
  </div>
  <!--<i class="cart plus icon" style="width:50px"></i>-->
</nav>

    <div class="bg"></div>
<br>

