<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"></script>



<!-- <div class="ui large breadcrumb">
    <a class="section">Toys</a>
    <i class="right chevron icon divider"></i>
    <a class="section">Kids</a>
    <i class="right chevron icon divider"></i>
    <div class="active section">Lego</div>
  </div> -->

<!-- <div class="ui items">
  <div class="item">
    <div class="ui large images">
        <a class="ui red tag label">20% OFF</a>
        

      <img src="assets/img/streamtrain1.png">
      
     
    </div>
    <div class="content">
      
      <a class="header">Steam Train</a>
      <div>
      <h3 class="ui red header">
          Now price $47.99
      </h3>
      <span class="price">original price $59.99</span>
    </div>
   
    
      
            
            <div class="ui animated button" tabindex="0">
                <div class="hidden content">Notify</div>
                <div class="visible content">
                  <i class="envelope icon"></i>
                </div>
              </div>


              <div class="ui animated button" tabindex="0">
                <div class="hidden content">Save</div>
                <div class="visible content">
                  <i class="heart icon"></i>
                </div>
              </div>
              <div class="ui animated blue button" tabindex="0">
                <div class="hidden content">Shop</div>
                <div class="visible content">
                  <i class="shop icon"></i>
                </div>
              </div>

             
              

                
      </div>
    </div>
  </div> -->

<br>


  
  <div class="ui container">
  <div class="ui two column doubling stackable grid container">
      <div class="column">
          <img class="ui large image" src={{list.imgUrl}} alt="First slide">
          <!-- <mdb-carousel class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
              <mdb-carousel-item> -->
                <!-- <img class="ui huge image" src="assets/image/streamtrain1.png" alt="First slide"> -->
                <!-- <img class="ui huge image" src={{list.imgUrl}} alt="First slide">

              </mdb-carousel-item>
              <mdb-carousel-item>
                <img class="ui large image" src="assets/image/streamtrain2.png" alt="Second slide">
              </mdb-carousel-item>
              <mdb-carousel-item>
                <img class="ui large image" src="assets/image/streamtrain3.png" alt="Third slide">
              </mdb-carousel-item>
            </mdb-carousel> -->
      </div>
      <div class="column">
          <div class="content">
      
              <h2>{{list.title}}</h2>
              <div class="ui star rating"></div>

              <p class="price">original price $59.99</p>
              <div>
              <h3 class="ui red header">
                  <div class="ui red tag large label">Our choice</div>
                  price ${{list.price}}
                  
              </h3>
              
            </div>
           
            

              <ol class="ui list">
                  <li value="*" >Brand</li>
                  <p >{{list.brand}}</p>
                  <li value="*">Materials</li>
                    <ol>
                      <li value="-">---</li>
                      <li value="-">---</li>
                      <li value="-">---</li>
                    </ol>
                  
                </ol>

                <div class="ui divided selection list">
                    <!-- <a class="item">
                      <div class="ui red tag large label">Our choice</div>
                      Amazon
                    </a> -->
                    <a class="item">
                        <h4 class="ui orange header">
                            <div class="ui orange tag label">Other choice</div>
                            $52.99 From Walmart
                            
                        </h4>
  
                      
                      
                    </a>
                    <a class="item">
                        <h4 class="ui orange header">
                            <div class="ui orange tag label">Other choice</div>
                            $59.99 From Lego.com
                            
                        </h4>
                    </a>
                    
                  </div>
              
                    
                    <div class="ui animated button" tabindex="0">
                        <div class="hidden content">Notify</div>
                        <div class="visible content">
                          <i class="envelope icon"></i>
                        </div>
                      </div>
        
        
                      <div class="ui animated button" tabindex="0">
                        <div class="hidden content">Save</div>
                        <div class="visible content">
                          <i class="heart icon"></i>
                        </div>
                      </div>
                      <div class="ui animated blue button" tabindex="0">
                        <div class="hidden content">Shop</div>
                        <div class="visible content">
                          <i class="shop icon"></i>
                        </div>
                      </div>

                      
                        
              </div>
              <br>
              <p>share with:</p>
              <button class="ui circular facebook icon button">
                  <i class="facebook icon"></i>
                </button>
                <button class="ui circular twitter icon button">
                  <i class="twitter icon"></i>
                </button>
                <button class="ui circular linkedin icon button">
                  <i class="linkedin icon"></i>
                </button>
                <button class="ui circular google plus icon button">
                  <i class="google plus icon"></i>
                </button>
      </div>
      
  
    </div>



    



  <div class="ui tabular menu">
      <a class="item active" data-tab="first">Description</a>
      <a class="item" data-tab="second">Review</a>
      <a class="item" data-tab="third">Information</a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="first">  
      <p>{{list.description}}</p>   
        <!-- <ul class="ui list">
            
             <li>The LEGO® DUPLO® 10874 Steam Train is now even easier for your toddler to control and interact with in multiple ways.</li>
            <li>Young children can become the train driver with the Push & Go motor — a gentle push either forwards or backwards sends 
                the train on its way and a firm hold or lift off the tracks will make it stop.</li>
            <li>Benefits
              <ul>
                <li>Help them place the 5 colored action bricks 
                    along the track to sound the horn, turn the lights on and off, pause and refuel, change direction and stop the train wherever 
                    they like. 
                     </li>
                     
                <li>With a train station, coal tipper, 2 DUPLO figures plus an animal figure and a simple toy train track included in this LEGO DUPLO set, preschoolers can enjoy classic, fun train play.</li>
                <li>Download the optional app to unlock even more play possibilities, 
                    including remote-control function and fun activities to complete with your toddler!</li>
              </ul>
            </li>
            <li>Warranty</li>
          </ul>
      
      <p> 
          
        <br>
        <a class="item" href="https://shop.lego.com/en-US/product/Steam-Train-10874">Link to Lego</a>
        </p>  -->

      <!-- <div class="ui bulleted list">
                <div class="item">The LEGO® DUPLO® 10874 Steam Train is now even easier for your toddler to control and interact with in multiple ways. </div>
                <div class="item">Download the optional app to unlock even more play possibilities, including remote-control function and fun activities to complete with your toddler!</div>
                <div class="item">
                  <div>Features</div>
                  <div class="list">
                    <a class="item" href="https://shop.lego.com/en-US/product/Steam-Train-10874">Link to Lego</a>
                    <div class="item">Includes train driver and child LEGO® DUPLO® figures, plus a squirrel figure.
                    </div>
                    <div class="item">Accessory elements include a refueling can, suitcase, bread and a spade.</div>
                  </div>
                </div>
                <div class="item">Warranty</div>
               -->
              </div>

    <div class="ui bottom attached tab segment" data-tab="second">
        <div class="ui comments">
          <div class="comment">
            <a class="avatar">
              <img src="/assets/image/matthew.png">
            </a>
            <div class="content">
              <a class="author">Joe Henderson</a>
              <div class="metadata">
                <div class="date">1 day ago</div>
              </div>
              <div class="text">
                <p>TSanta gave my 18mo this for Christmas. It is simple to set up and use.
       
                    We bought it so that our older son could play together with youngest. Works perfectly for that.
                    
                    Making the set is easy, i’d recommend getting extra sets so there’s more track.
                    
                    App Set up is easy and straightforward and worked straight away on our Apple devices (IoS 12)
                    
                    Youngest loves the push and go so no app needed. Our 4yo loves the app and the extra interactive games.
                    
                    We had a lot of old style black track from years ago, it works perfectly with that. Ths only issue is the old style bridge doesn’t have enough grip. This was fixed with a thin wipe of PVA of the track surface! We now have a hump back bridge!</p>
              </div>
              <div class="actions">
                <a class="reply">Reply</a>
              </div>
            </div>
          </div>
          <div class="comment">
            <a class="avatar">
              <img src="/assets/image/helen.jpg">
            </a>
            <div class="content">
              <a class="author">Christian Rocha</a>
              <div class="metadata">
                <div class="date">2 days ago</div>
              </div>
              <div class="text">
                  I bought this together with the Train Bridge and Tracks (10872) and the engine with an empty car can't make it to the top of the bridge 30%-40% of the time. When using the app, the motor is noticeably weaker and stops 90% of the time before reaching the bridges's top. The tracks+bridge were setup on a flat, solid surface. Fresh AAA Energizer batteries were used.
       
                  This is just nitpicking on an otherwise amazing set.
              </div>
              <div class="actions">
                <a class="reply">Reply</a>
              </div>
            </div>
          </div>
          <form class="ui reply form">
            <div class="field">
              <textarea></textarea>
            </div>
            
      
            
            <div class="ui primary submit labeled icon button">
              <i class="icon edit"></i> Add Comment
            </div>
          </form>
        </div>
      </div>
        
    <div class="ui bottom attached tab segment" data-tab="third">

        <ul class="ui list">
            <li>Includes train driver and child LEGO® DUPLO® figures, plus a squirrel figure.</li>
            <li>Features a buildable Push & Go locomotive with lights and sounds, passenger carriage, 5 color-coded action bricks, train station, coal tipper, tree and 16 pieces of track.
                Accessory elements include a refueling can, suitcase, bread and a spade.</li>
            <li>Steam train with passenger car measures over 3” (10cm) high, 11” (30cm) long and 2” (7cm) wide.
                Station measures over 5” (15cm) high, 4” (12cm) wide and 2” (6cm) deep.</li>
            <li>Benefits
              <ul>
                <li>
                    Any toddler can start the steam train with a gentle push forwards or backwards, and stop it by placing their hand firmly on top of the engine.
                    Show your child how to place and move the 5 colored action bricks around the track so the train follows their instructions to sound the horn, turn on the lights, refuel, change direction or stop.</li>
                <li>Develop imagination and early role-play skills using the LEGO® DUPLO® figures to create endless journeys and adventures.</li>
                <li>Extend the play possibilities of this LEGO® DUPLO® set by downloading the free app with remote-control function and fun activities for young children to complete.
                    The train and tracks included in this set are compatible with your child’s existing LEGO® DUPLO® train collection.</li>
              </ul>
            </li>
            <li>Download the optional app at the App Store, Google Play Store or Amazon Kindle Store. Learn more at LEGO.com/devicecheck.</li>
          </ul>
        
        
        
        
        
        LEGO® DUPLO® products are specially designed to be fun and easy for little hands.
        This product requires batteries (not included). Please refer to the product packaging for type and quantity.
        Combine with the 10872 Train Bridge and Tracks, 10875 Cargo Train and 10882 Train Tracks for even more track combinations and LEGO® DUPLO® train fun.
        
    </div>
<!-- <h2>Others you may want...</h2>
<a href="https://shop.lego.com/en-US/product/Farm-Pony-Stable-10868" class="ui small image">
  <img src="/assets/img/others1.png">
</a>
<a href="https://shop.lego.com/en-US/product/Large-Playground-Brick-Box-10864" class="ui small image">
  <img src="/assets/img/others2.png">
</a>
<a href="https://shop.lego.com/en-US/product/Family-House-10835" class="ui small image">
  <img src="/assets/img/others3.png">
</a>
<a href="https://shop.lego.com/en-US/product/Big-Construction-Site-10813" class="ui small image">
  <img src="/assets/img/others4.png">
</a>
<a href="https://shop.lego.com/en-US/product/Farm-Pony-Stable-10868" class="ui small image">
  <img src="/assets/img/others5.png">
</a> -->

<h2 class="ui orange header">Others you may like...</h2>
<div class="card-deck">
    <!-- Card -->
    <mdb-card>
      <div class="view overlay waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="/assets/image/others1.png" alt="Card image cap"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>Farm Pony</h4>
        </mdb-card-title>
  
        <!--Text-->
        <mdb-card-text> Play out real-life scenarios in LEGO® DUPLO® Town: a recognizable world with modern DUPLO figures. 
        </mdb-card-text>
  
        <a href="#" mdbBtn color="primary" mdbWavesEffect>$29.99</a>
      </mdb-card-body>
    </mdb-card>
  
    <!-- Card -->
    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="/assets/image/others2.png" alt="Card image cap"></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>Playground</h4>
        </mdb-card-title>
  
        <!--Text-->
        <mdb-card-text> Fire your toddler’s imagination with this exciting Box, to make an adventure playground full of fun features.
        </mdb-card-text>
  
        <a href="#" mdbBtn color="primary" mdbWavesEffect>$49.99</a>
      </mdb-card-body>
    </mdb-card>

        <!-- Card -->
        <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <!-- Card img -->
              <mdb-card-img src="/assets/image/others5.png" alt="Card image cap"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title>
                <h4>Farm Pony</h4>
              </mdb-card-title>
        
              <!--Text-->
              <mdb-card-text> Play out real-life scenarios in LEGO® DUPLO® Town: a recognizable world with modern DUPLO figures.
              </mdb-card-text>
        
              <a href="#" mdbBtn color="primary" mdbWavesEffect>$29.99</a>
            </mdb-card-body>
          </mdb-card>


              <!-- Card -->
    <mdb-card>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img src="/assets/image/others4.png" alt="Card image cap"></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>Big Construction Site</h4>
          </mdb-card-title>
    
          <!--Text-->
          <mdb-card-text> Little construction workers will love these 3 buildable machines. Clear the site with the tracked bulldozer, before tipping new building supplies from the truck. 
          </mdb-card-text>
    
          <a href="#" mdbBtn color="primary" mdbWavesEffect>$49.99</a>
        </mdb-card-body>
      </mdb-card>
  
    <!-- Card -->
    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="/assets/image/others3.png" alt="Card image cap"></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>Family House</h4>
        </mdb-card-title>
  
        <!--Text-->
        <mdb-card-text> Play out real-life scenarios in LEGO® DUPLO® My Town: a recognizable world with modern DUPLO figures. 
        </mdb-card-text>
  
        <a href="#" mdbBtn color="primary" mdbWavesEffect>$39.99</a>
      </mdb-card-body>
    </mdb-card>
  </div>


</div>



       <!-- <div class="column ui segment" >
  
        <img src={{list.imgUrl}} class="fixImageSize"/>
        <p>{{list.title}}</p>
  
      </div> -->
  
  
  
