<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img src="/assets/image/dress.jpg" alt="Random first slide" class="fixSlideSize">
    <div class="carousel-caption">
      <h3>Clothes</h3>
      <!--<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="/assets/image/shoe.jpg" alt="Random third slide" class="fixSlideSize">
    <div class="carousel-caption">
      <h3>Shoes</h3>
      <!--<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>-->
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="/assets/image/bag.jpg" alt="Random second slide" class="fixSlideSize">
    <div class="carousel-caption">
      <h3>Purse</h3>
      <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="/assets/image/game.jpg" alt="Random third slide" class="fixSlideSize">
    <div class="carousel-caption">
      <h3>Game</h3>
      <!--<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>-->
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="/assets/image/toy.jpg" alt="Random third slide" class="fixSlideSize">
    <div class="carousel-caption">
      <h3>Toy</h3>
      <!--<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>-->
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="/assets/image/jew.jpg" alt="Random third slide" class="fixSlideSize">
    <div class="carousel-caption">
      <h3>Jewelry</h3>
      <!--<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>-->
    </div>
  </ng-template>
</ngb-carousel>

<div class="ui raised segment">
  <div style="margin-left: 15px">
  <h2>BEST DEALS</h2>
  </div>
  <div class="ui grid" style="margin-left: 15px">
    <div class="row stretched">
      <div class="eight wide column noPadding">
        <img src="assets/image/dress.jpg" style="object-fit: fill"/>
      </div>
      <div class="four wide column noPadding">
        <img src="assets/image/shoe_sq.jpg" style="object-fit: fill"/>
      </div>
      <div class="four wide column noPadding">
        <img src="assets/image/bag_sq.jpg" style="object-fit: fill"/>
      </div>
    </div>
    <div class="row stretched">
      <div class="four wide column noPadding">
        <img src="assets/image/games_sq.jpg" style="object-fit: fill"/>
      </div>
      <div class="four wide column noPadding">
        <img src="assets/image/toy_sq.jpg" style="object-fit: fill"/>
      </div>
      <div class="eight wide column noPadding">
        <img src="assets/image/jew.jpg" style="object-fit: fill"/>
      </div>
    </div>
  </div>
</div>


  <!--<base>-->
  <div class="ui raised segment" >
    <div style="margin-left: 10px">
    <h2>BEST SALES </h2>
  </div>
    <div class="ui three column wide grid" style="margin-left: 15px">
      <div class="row">
        <div class="column">
          <img src="/assets/image/dress_sq.jpg" width="115%"/>
          <p>Cloth</p>
        </div>
        <div class="column">
          <img src="/assets/image/shoe_sq.jpg" width="115%"/>
          <p>Shoes</p>
        </div>
        <div class="column">
          <img src="/assets/image/bag_sq.jpg" width="115%"/>
          <p>Bag</p>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <img src="/assets/image/games_sq.jpg" width="115%"/>
          <p>Games</p>
        </div>
        <div class="column">
          <img src="/assets/image/toy_sq.jpg" width="115%"/>
          <p>Toy</p>
        </div>
        <div class="column">
          <img src="/assets/image/jew_sq.jpg" width="115%"/>
          <p>Jewelry</p>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="ui raised segment">-->
    <!--<h2>Best Sales</h2>-->
    <!--<div class="ui grid very padded">-->
      <!--<div class="eight wide column">-->
        <!--<img src="http://ecx.images-amazon.com/images/I/51fAmVkTbyL._SY300_.jpg" width="100%"/>-->
        <!--<p>Item 1</p>-->
      <!--</div>-->
      <!--<div class="eight wide column">-->
        <!--<div class="four wide column">-->
          <!--<img src="http://ecx.images-amazon.com/images/I/51fAmVkTbyL._SY300_.jpg" width="100%"/>-->
          <!--<p>Item 1</p>-->
        <!--</div>-->
        <!--<div class="four wide column">-->
          <!--<img src="http://ecx.images-amazon.com/images/I/51fAmVkTbyL._SY300_.jpg" width="100%"/>-->
          <!--<p>Item 1</p>-->
        <!--</div>-->
        <!--<div class="four wide column">-->
          <!--<img src="http://ecx.images-amazon.com/images/I/51fAmVkTbyL._SY300_.jpg" width="100%"/>-->
          <!--<p>Item 1</p>-->
        <!--</div>-->
        <!--<div class="four wide column">-->
          <!--<img src="http://ecx.images-amazon.com/images/I/51fAmVkTbyL._SY300_.jpg" width="100%"/>-->
          <!--<p>Item 1</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

